In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [1]:
bill_url = "https://www.billboard.com/charts/hot-100/"

In [3]:
def scrape_hot100() -> pd.DataFrame:
    url = "https://www.billboard.com/charts/hot-100"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    artists = [artist.text.strip() for artist in soup.select('span.c-label.a-no-trucate')]
    titles = [title.text.strip() for title in soup.select('h3.a-no-trucate.c-title')]

    data = {
        'Artist': artists,
        'Title': titles
    }

    df = pd.DataFrame(data)

    return df

In [4]:
hot100 = scrape_hot100()

In [5]:
hot100.to_csv('hot100.csv', index=False)

In [6]:
hot100

                     Artist                        Title
0                  Doja Cat           Paint The Town Red
1                       SZA                       Snooze
2              Taylor Swift                 Cruel Summer
3                Luke Combs                     Fast Car
4   Jung Kook & Jack Harlow                           3D
..                      ...                          ...
95                 Rod Wave                 Long Journey
96               Luke Bryan  But I Got A Beer In My Hand
97               Peso Pluma                      Rubicon
98               Zach Bryan          East Side Of Sorrow
99                Bad Bunny               Where She Goes

[100 rows x 2 columns]